[user]
	email = bipin.lekhak@outlook.com
	name = Bipin Lekhak

[core]
	editor = nvim
	pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

